/* Estilo da escolha do menu sistema */
.tabs .tab a{
  color: #64b5f6;
}
.tabs .tab a.active{
  background-color: transparent;
  color: #64b5f6;
  font-weight: 600;
}
.tabs .indicator{
  background-color: #64b5f6;
}
.tabs .tab a:hover, .tabs .tab a.active{
  color: #64b5f6;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background-color: rgba(100,181,246,0.2);
}

